<html>
	<head>
		<title>Anonymous Chat App</title>
		<link rel="stylesheet" type="text/css" href="/static/css/home.css">
		<script type="text/javascript" src="/static/js/jQuery2.0.3.js"></script>
	</head>
	<body>
		<div id="header">
			<a href="http://namanagg.wordpress.com/about/">About Me</a>
		</div>
		<div id="roomCont">			
			<div id="err"></div>
			<div id="inpCont">
				<div id="userName">
					<div><input id="inpName" type="text" placeholder="What you would like to be called."/></div>
				</div>
				<div id="room">
					<div><input id="inpRoom" type="text" placeholder="Where you want to chat."/></div>
				</div>
				<div id="startCont">
					<div class="mybutton">Start Chat</div>
				</div>				
			</div>
		</div>
	</body>	
</html>